@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Ubuntu';
}

.Blog-heading {
    font-size: 40px;
    margin: 10px;
    width: 80%;
    padding: 10px;
    font-weight: 700;
    margin-top: 30px;
  }
  .Blog-heading a{
    text-decoration: none;
    color:white;
  }
  
  .Blog-hr {
    margin-left: 0;
    margin-top: 20px;
    border: none;
    height: 10px;
    width: 150px;
    background:#0056A4;
  }

.head {
    display: flex;
}

.head-left {
    width: 80%;
}

.head-right {
    margin-left: auto;
}

.blogs {
    background: linear-gradient(180deg, #000000 0%, #243562 100%);
    display: flex;
    flex-direction: column;
    height: 88vh;
    max-width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 3% 10%;
}

.heading {
    font-size: 3rem;
}

.underline {
    border: 5px solid #0056A4;
    border-radius: 10px;
    margin: 0.8rem 0;
    width: 15%;
}

.btn {
    align-items: center;
    background: linear-gradient(180deg, #2F4E9D -123.1%, #0E3089 133.04%);
    border: none;
    border-radius: 11px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.72);
    color: #EEEEEE;
    cursor: pointer;
    display: flex;
    font-family: 'Barlow';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    height: 56px;
    letter-spacing: 0.1em;
    line-height: 24px;
    padding: 0 15px;
    text-align: center;
}


.blog-list {
    /* background-color: skyblue; */
    height: 80%;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.blog-preview {
    /* background-color: #2F4E9D; */
    margin: 20px 12px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid white;
}

.left-blog-data {
    margin-top: 16px;
    margin-bottom: 20px;
    width: 15%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.left-blog-data .left-hr{
    width: 80px;
    background: gray;
    height: 2.5px;
    visibility: hidden;
    border: none;
}
.right-blog-data {
    width: 80%;
    padding-right: 10px;
    margin-bottom: 20px;
    margin-left: 9px;
}
.right-blog-data h2{
    font-size: 28px;
}
.right-blog-data a {
    text-decoration: none;
    color: white;
}

.right-blog-data p{
    font-size: 18px;
    /* font-weight: 600; */
    margin-top: 15px;
}
.right-blog-data .tags {
    color: rgb(20 184 166);
    cursor: pointer;
    /* margin: 10px 0; */
    font-size: 15px;
    font-weight: 500;
}

@media screen and (max-width:970px) {
    .left-blog-data{
        font-size: 16px;
    }
    .right-blog-data h2 {
        font-size: 24px;
    }
}

@media screen and (max-width:640px) {
    .left-blog-data {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
    }
    .left-blog-data .left-hr{
        visibility: visible;
    }
    .blog-preview{
        flex-direction: column;
    }
    .right-blog-data .blogg-desc{
        text-align: center;
        font-weight: 400;
    }
    .right-blog-data {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .right-blog-data .tags{
        font-size: 16px;
    }
    .right-blog-data h2 {
        font-size: 22px;
    }
}