@media screen and (max-width: 500px) {
    .project-container-mobile {
        color: white;
        width: 80%;
        margin: 30px auto;
        border-radius: 20px;
    }

    .transform-container-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .project-title-mobile {
        width: 100%;
        padding-bottom: 5px;
        font-size: 1.3rem;
        border-radius: 20px 20px 0 0;
        text-align: center;
    }

    .content-mobile {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 20%;
        padding: 10px;
        width: 70%;
        line-height: 1.2rem;
    }

    .profile_photo_mobile {
        width: 100%;
        border-radius: 0 0 20px 20px;
    }

    .project-btn-mobile {
        padding: 15px 20px;
        border: none;
        border-radius: 15px;
        font-size: 16px;
        margin: 10px 0;
        background: linear-gradient(to bottom, #2B70AF, #123B60);
        color: white;
        font-weight: 600;
        cursor: pointer;
    }



    .react-multiple-carousel__arrow {
        background: linear-gradient(to bottom, #2572FB, #6812CB);
        min-height: 30px;
        min-width: 30px;
    }

    .react-multiple-carousel__arrow--left {
        left: calc(1% + 1px)
    }

    .react-multiple-carousel__arrow--right {
        right: calc(1% + 1px)
    }

    .react-multiple-carousel__arrow:hover {
        background: linear-gradient(to bottom, #2572FB, #6812CB);
        opacity: 0.9;
    }

    .react-multiple-carousel__arrow::before {
        font-weight: 400;
        font-size: 18px;
    }

    .react-multi-carousel-dot button {
        background: black;
    }

    .react-multi-carousel-dot--active button {
        background: #00C9F5;
    }
}


@media screen and (max-width: 400px) {
    .content-mobile {
        font-size: 14px;
        line-height: 1rem;
    }
}

@media screen and (max-width: 300px) {
    .content-mobile {
        width: 90%;
    }

    .project-btn-mobile {
        padding: 8px 12px;
        font-size: 14px;
        margin: 2px 0;
    }

    .project-author-mobile {
        font-size: 12px;
    }
}

@media screen and (max-width: 250px) {
    .project-title-mobile {
        font-size: 1.1rem;
    }

    .content-mobile {
        font-size: 13px;
        line-height: 0.9rem;
    }
}

@media screen and (max-width: 200px) {
    .project-title-mobile {
        font-size: 13px;
    }

    .content-mobile {
        font-size: 10px;
        line-height: 0.7rem;
    }

    .project-author-mobile {
        font-size: 10px;
    }

    .project-btn-mobile {
        padding: 4px 4px;
        font-size: 10px;
        margin: 2px 0;
    }

    .react-multiple-carousel__arrow {
        min-height: 20px;
        min-width: 20px;
    }

    .react-multiple-carousel__arrow::before {
        font-weight: 250;
        font-size: 10px;
    }

    .react-multi-carousel-dot button {
        height: 8px;
        width: 8px;
    }
}