@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.eventpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, #243562 0%, #000000 100%);

}
.events-heading {
    font-size: 40px;
    margin: 10px;
    width: 80%;
    padding: 10px;
    font-weight: 700;
  }
  
  .events-hr {
    margin-left: 0;
    margin-top: 20px;
    border: none;
    height: 10px;
    width: 150px;
    background:#0056A4;
  }
.container-events {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container-events .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: #111827;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 3px solid white;
    transition: 0.3s ease-in-out;}

.container-events .card:hover { 
    height: 420px;}

.container-events .card .img-events{
    position: relative;
    width: 200px;
    height: 260px;
    top: 5px;
    left: 45px;
    z-index: 1;
    /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); */
}

.container-events .card .img-events img{
   max-width: 100%;
   background: transparent;
   border-radius: 4px;}

.container-events .card .content-events{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;}

.container-events .card:hover .content-events{
    visibility: visible;
    opacity: 1;
    margin-top: -40px; 
    transition-delay: 0.3s;}

.content-events a{
    margin: 5px;
    cursor: pointer;
    color: purple;
}