@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex-wrap: wrap;
    background: linear-gradient(180deg, #000000 0%, #243562 100%);
} */

.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
}

.content-contact {
    display: flex;
    margin-top: 70px;
    width: 90%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: linear-gradient(113.14deg, #6517A3 1.94%, #123B60 56.78%);
    margin-bottom: 30px;
    width: 50%;
}

.contact-heading {
    font-size: 40px;
    margin: 10px;
    width: 100%;
    padding: 10px;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 50px;
}

.contact-hr{
    margin-left: 0;
  margin-top: 20px;
  border: none;
  height: 10px;
  width: 150px;
  background:#0056A4;
}

.options-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
}

.icons-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(113.14deg, #6517A3 1.94%, #123B60 56.78%);
    border-radius: 14px;
    padding: 10px;
    width: 246px;
    height: 160px;
}

.icons-contact img {
    width: 120px;
}

.options-contact :hover {
    background: linear-gradient(113.14deg,  #123B60 ,#6517A3 );
    transition: 0.5s;
}

.contact-message{
    width: 50%;
}

.contact-form{
    width: 90%;
    margin: 10px;
    justify-content: space-evenly;
}

.contact-form label{
    font-size: 24px;
    font-weight: 700;
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

input {
    width: 100%;
    border: 3px solid #8A8888;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    background-color: black;
    margin-bottom: 10px;
}
/* 
input:hover {
    background-color: #1f8cdf;
    transition: .5s;
} */

::placeholder {
    color: white;
}

textarea {
    width: 100%;
    border: 3px solid #8A8888;
    border-radius: 15px;
    /* margin: 10px; */
    padding: 5px 16px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: black;
}
/* 
textarea:hover {
    background-color: #1f8cdf;
    transition: .5s;
} */

.btn-contact {
    margin-left: 0px;
    margin-right: 0px;
    padding: 16px 32px;
    float: left;
    text-align: center;
    background-color: #2275b4;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    cursor: pointer;
    border: 2px solid #183b56;
    border-radius: 4px;
    margin-bottom: 10px;
}

.btn-contact:hover {
    background-color: #1f8cdf;
    transition: .5s;
}

@media (max-width: 787px) {
    .content-contact {
        flex-wrap: wrap;
    }

    input {
        width: 350px;
    }

    textarea {
        width: 350px;
    }

    .btn-contact {
        padding: 14px 28px;
    }
}

@media (max-width: 351px) {
    input {
        width: 250px;
    }

    textarea {
        width: 250px;
    }
}