.footer {
    background-color: #243562;
    padding-top: 30px;
}

.footer-line {
    margin: auto;
    margin-bottom: 0.5em;
    width: 80%;
    color: #ffffff;
    border: 2.5px solid white;
}

.footer-options {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
}

.openlake {
    background: linear-gradient(180deg, #64B5F6 0%, #111827 267.44%);
    background-clip: text;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    width: max-content;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-list {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
}

.icon {
    margin: 10px 5px;
    width: 10%;
}

.icon img {
    width: 80%;
}

.copyright {
    color: #00C9F5;
    font-size: 0.85rem;
    margin: 5px 0;
    text-align: center;
    padding-bottom: 10px;
}

@media only screen and (max-width: 769px) {
    .openlake {
        background: linear-gradient(180deg, #64B5F6 0%, #111827 267.44%);
        background-clip: text;
        font-size: 30px;
        font-weight: 600;
        justify-content: center;
        width: 80%;
        text-align: center;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .copyright {
        color: #00C9F5;
        font-size: 0.65rem;
        margin: 5px 0;
        text-align: center;
    }
    .footer-options{
        display: flex;
        flex-wrap: wrap;
    }
    .icon-list{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .icon img{
        width: 70%;
        padding-left: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .openlake {
        background: linear-gradient(180deg, #64B5F6 0%, #111827 267.44%);
        background-clip: text;
        font-size: 40px;
        font-weight: 600;
        width: 90%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
