@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
}

/* Navigation Bar */

.Navbar {
  align-items: center;
  background-color: black;
  border-bottom: 5px solid #64B5F6;
  border-radius: 0px 0px 15px 15px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  height: 100px;
  position: sticky;
  top: 0;
  width: 100%;
}

#nav-logo {
  cursor: pointer;
  width: 6%;
  margin: 0 2rem;
}

.nav-buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 80%;
  margin-left: auto;
  width: 50%;
}

.nav-btn {
  background-color: black;
  /* border: 2px solid grey; */
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  width: 16%;
  height: 55%;
}

.nav-btn:hover {
  color: #64B5F6;
}

.hamburger {
  align-items: center;
  border: 2px solid white;
  border-radius: 20px;
  color: #64B5F6;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 55%;
  width: 10%;
}

.line {
  border: 1px solid white;
  width: 50%;
}

.hamburger:hover,
.hamburger:hover .line {
  border-color: #64B5F6;
}
