@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: 'Ubuntu';
}

.primary-color {
  background-color: #00C9F5;
}

.secondary-color {
  background-color: #D9D9D9;
}

.heading {
  font-size: 3rem;
}

.underline {
  border: 5px solid #0056A4;
  border-radius: 10px;
  margin: 0.8rem 0;
  width: 15%;
}

/* Navigation Bar */

.Navbar {
  align-items: center;
  background-color: black;
  border-bottom: 5px solid #64B5F6;
  border-radius: 0px 0px 15px 15px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  height: 100px;
  position: sticky;
  top: 0;
  width: 100%;
}

#nav-logo {
  cursor: pointer;
  width: 6%;
  margin: 0 2rem;
}

.nav-buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 80%;
  margin-left: auto;
  width: 50%;
}

.nav-btn {
  background-color: black;
  /* border: 2px solid grey; */
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  width: 16%;
  height: 55%;
}

.nav-btn:hover {
  color: #64B5F6;
}

.hamburger {
  align-items: center;
  border: 2px solid white;
  border-radius: 20px;
  color: #64B5F6;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 55%;
  width: 10%;
}

.line {
  border: 1px solid white;
  width: 50%;
}

.hamburger:hover,
.hamburger:hover .line {
  border-color: #64B5F6;
}



/* Introduction Section */

.intro {
  background: linear-gradient(180deg, #000000 0%, #243562 100%);
  display: flex;
  flex-direction: column;
  height: 88vh;
  width: 100%;
}

.intro-container-1 {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 70%;
  /* background-color: aqua; */
}

.intro-logo-container {
  width: 50%;
  text-align: center;
}

.intro-para-container {
  width: 50%;
}

.intro-para-container h1 {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 56, 255, 0) 267.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 3.75rem;
}

.underline-intro {
  border: 5px solid #123B60;
  border-radius: 10px;
  margin: 0.8rem 0;
  width: 15%;
}

.intro-para {
  background: linear-gradient(360deg, #FFFFFF 16.29%, rgba(79, 64, 173, 0) 272.47%);
  background-clip: text;
  font-size: 1.5rem;
  line-height: 1.75rem;
  width: 80%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-container-2 {
  align-items: center;
  /* background-color: skyblue; */
  display: flex;
  height: 25%;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 80%;
}

.counter-card {
  align-items: center;
  background: linear-gradient(180deg, #111827 0%, #243562 100%);
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  height: 90%;
  justify-content: center;
  width: 20%;
}

#projects-icon {
  width: 30%;
  color: #004DE8;
}

#blogs-icon {
  width: 30%;
}

#community-icon {
  width: 48%;
}

#events-icon {
  width: 30%;
}



/* Message Section */

.message {
  background: linear-gradient(180deg, #243562 0%, #000000 100%);
  display: flex;
  flex-direction: column;
  height: 88vh;
  max-width: 100%;
  margin: 0 auto;
  padding: 3% 10%;
}

.message-slider {
  align-items: center;
  display: flex;
  height: 70%;
  justify-content: space-between;
  margin: 5% 0;
}

.arrow {
  border-radius: 50%;
  height: 19%;
  text-align: center;
  width: 8%;
}

.arrow img {
  cursor: pointer;
  width: 100%;
}

.message-card {
  align-items: center;
  background: linear-gradient(151.51deg, #000000 11.71%, rgba(66, 66, 66, 0) 112.21%);
  border-radius: 0.875rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 25%;
}

.message-card-1 {
  width: 50%;
}

.message-card-1 img {
  width: 100%;
}

.message-card-2 {
  font-size: 1.25rem;
  height: 25%;
  margin: 5% 0;
  width: 80%;
}

.message-card-3 {
  border: 3px solid #676060;
  border-radius: 10px;
  width: 30%;
}

.message-card-4 {
  font-size: 0.9375rem;
  margin: 5% 0;
}

.message-card-5 img {
  cursor: pointer;
  margin: 5%;
  width: 20%;
}

.message-circle {
  display: flex;
  height: 2%;
  justify-content: center;
}

.ellipse {
  border-radius: 50%;
  cursor: pointer;
  height: 100%;
  margin: 0 0.75%;
  width: 1.3%;
}


/* FAQ Section */

.faq {
  background: linear-gradient(180deg, #000000 0%, #243562 100%);
  display: flex;
  flex-direction: column;
  height: 88vh;
  margin: 0 auto;
  max-width: 100%;
  padding: 3% 10%;
}

.faq-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 90%;
  justify-content: space-around;
}

.column {
  width: 40%;
}

.question-box {
  align-items: center;
  background-color: black;
  border: 2px solid white;
  border-radius: 0.975rem;
  display: flex;
  font-size: 1.375rem;
  margin: 4%;
  padding: 3%;
  width: 90%;
}

.question-txt {
  width: 100%;
}

.sign {
  cursor: pointer;
  font-size: 2rem;
}


/* Projects Section */

.projects {
  background: linear-gradient(180deg, #243562 0%, #000000 100%);
  display: flex;
  flex-direction: column;
  height: 88vh;
  max-width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 3% 10%;
}

.head {
  display: flex;
}

.head-left {
  width: 80%;
}

.btn {
  align-items: center;
  background: linear-gradient(180deg, #2F4E9D -123.1%, #0E3089 133.04%);
  border-radius: 11px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.72);
  color: #EEEEEE;
  display: flex;
  font-family: 'Barlow';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  height: 56px;
  letter-spacing: 0.1em;
  line-height: 24px;
  padding: 0 15px;
  text-align: center;
  cursor: pointer;
}

.head-right {
  margin-left: auto;
}

.column {
  width: 40%;
}

.project-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 90%;
  justify-content: space-around;
}

.project-box {
  border: 2px solid white;
  border-radius: 12px;
  color: #000000;
  cursor: pointer;
  margin: 10%;
}

.project-name {
  padding: 2px 12px;
}

.project-box img{
  border-radius: 0 0 12px 12px;
  border-top: 2px solid white;
  height: 100%;
  margin-top: 5px;
  width: 100%;
}