.message {
    background: linear-gradient(180deg, #243562 0%, #000000 100%);
    padding: 10px;
}

.message-card-container {
    overflow-x: scroll;
}

.message-head {
    padding: 3% 10% 0 10%;
}

.message-heading {
    font-size: 40px;
    margin: 10px;
    width: 80%;
    padding-left: 10%;
    font-weight: 700;
    margin-top: 70px;

}

.message-hr2 {
    margin-left: 0;
    margin-top: 20px;
    border: none;
    height: 10px;
    width: 150px;
    background: #0056A4;
}

.message-card {
    display: flex;
    width: 170%;
    height: 80%;
    justify-content: space-between;
    margin: 50px 0;
    padding-left: 5%;
}

.message-preview {
    border: 2px solid gray;
    border-radius: 10px;
    margin: 0 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: linear-gradient(130deg,
            hsl(0deg 0% 0%) 0%,
            hsl(0deg 0% 3%) 15%,
            hsl(0deg 0% 6%) 35%,
            hsl(0deg 0% 9%) 55%,
            hsl(0deg 0% 12%) 70%,
            hsl(0deg 0% 14%) 81%,
            hsl(0deg 0% 17%) 89%,
            hsl(0deg 0% 20%) 94%,
            hsl(0deg 0% 23%) 98%,
            hsl(0deg 0% 26%) 100%);
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
}

.message-profile-pic {
    width: 100px;
    border: none;
    margin: 10px;
    border-radius: 50%;
    background-color: skyblue;
}

.message-profile-pic img {
    width: 100%;
}

.message-description {
    line-height: 22px;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

.message-hr {
    border: 3px solid white;
    margin: 10px;
    width: 40%;
}

.message-author {
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.message-span {
    font-size: 16px;
}

.message-social-media {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    margin-bottom: 5px;
}

.message-social-media img {
    width: 45px;
}

@media screen and (max-width: 1328px) {
    .message-card {
        width: 200%;
        padding: 10px;
    }

    .message-preview {
        margin: 10px;
    }
}

@media screen and (max-width: 1110px) {
    .message-card {
        width: 250%;
    }
}

@media screen and (max-width: 900px) {
    .message-card {
        width: 300%;
    }
}

@media screen and (max-width: 710px) {
    .message-card {
        width: 350%;
    }
}

@media screen and (max-width: 600px) {
    .message-card {
        width: 450%;
    }
}

@media screen and (max-width: 460px) {
    .message-card {
        width: 550%;
        padding-left: 2%;
    }

    .message-heading {
        padding-left: 5%;
    }

}

@media screen and (max-width: 395px) {
    .message-card {
        width: 600%;
    }
}

@media screen and (max-width: 340px) {
    .message-preview {
        width: 270px;
    }
}

.message-card-container {
    overflow-x: auto;
}

.message-card-container::-webkit-scrollbar {
    width: 2px;
    height: 6px;
}

.message-card-container::-webkit-scrollbar-thumb {
    background-color: #424242;
    border-radius: 3px;
}